.paginationButtonStyle button:hover {
  background-color: #b90000;
}

.paginationButtonStyle button:focus {
  background-color: #b90000;
}

.paginationButtonStyle button:active {
  background-color: #b90000;
}

@media screen and (max-width: 900px) {
  .gridJobCard {
    display: flex;
    justify-content: center;
  }
}
